<div class="modal fade"  id="modalSelect" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos adicionales</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form (submit)="executeParentFunction(select.value)">
                <div class="modal-body">

                    <div class="form-group m-form__group row">
                        
                            <label class="col-xl-5 col-lg-5 col-form-label">{{select.name}}:</label>
                            <div class="col-xl-12 col-lg-12">
                                <select class="form-control m-input" [(ngModel)]="select.value" name="estadoCivil" required>
                                    <option disabled selected>Seleccione..</option>
                                    <option [value]="option[select.valueToSave]" *ngFor="let option of select.options">{{option[select.valueToShow]}}</option>
                                </select>
                            </div>
                        
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Continuar</button>
                </div>
            </form>
        </div>
    </div>
</div>
