<div class="m-portlet m-portlet--bordered-semi m-portlet--full-height  m-portlet--rounded-force">
	<div class="m-portlet__body">
		<div class="m-widget19">
			<div class="m-widget19__pic m-portlet-fit--sides" style="text-align: center;">
				<img src="./assets/app/media/img//blog/weightlifter.png"
					 style="max-height: 350px; max-width: 250px">
				<h3 class="m-widget19__title m--font-light">
					Ficha de afiliado
				</h3>
				<div class="m-widget19__shadow"></div>
			</div>
			<div class="m-widget19__content">

				<div class="m-content" style="font-size: 14px">
					<div class="row">
						<div class="col-lg-6 col-md-12">
							<p>
								<span class="m--font-primary">Nombre: </span>
								<span #bold>{{afiliado.nombre}}</span>
							</p>
						</div>
						<div class="col-lg-6 col-md-12">
							<p>
								<span class="m--font-primary">Apellido: </span>
								<span #bold>{{afiliado.apellido}}</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-12">
							<p>
								<span class="m--font-primary">Dni: </span>
								<span #bold>{{afiliado.dni}}</span>
							</p>
						</div>
						<div class="col-lg-6 col-md-12">
							<p>
								<span class="m--font-primary">Fecha nacimiento: </span>
								<span #bold>{{(afiliado.fechaNacimiento != '...')? (afiliado.fechaNacimiento | date: 'dd/MM/yyyy') : '...'}}</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-12">
							<p>
								<span class="m--font-primary">Domicilio: </span>
								<span #bold>{{afiliado.direccion}}</span>
							</p>
						</div>
						<div class="col-lg-6 col-md-12">
							<p>
								<span class="m--font-primary">Telefono: </span>
								<span #bold>{{afiliado.telefono}}</span>
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
